*__pycache__
*.vs
*.vscode
*.env
Prueba*
TFG_compartido*
vad_chunks*
*.json
rnnoise*
scripts_not_used*
uploads*
downloads*
temp*
*.txt

backend/FreeLing/

backend/error.log
backend/FreeLing
backend/whisper_cpp.py

backend/freeling/4.2.1.tar.gz
backend/freeling/FreeLing-langs-src-4.2.1.tar.gz
